body{
    margin: 0;
    padding: 0;
    background: url(bukubuku.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.login{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    background-position:  center;
    padding: 50px;
    width: 300px;
    box-shadow: 0 0 10px 5px black;
}

.avatar{
    font-size: 30px;
    background: #bdc3c7;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #2c3e50;
}

.login h2{
    text-align: center;
    color: white;
    padding-top: 10px;
    letter-spacing: 2px;
}

.box-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    padding: 0px;
}

.box-login i{
    font-size: 40 px;
    color: white;
}

.box-login input{
    width: 100%;
    padding: 0 9px;
    background: none;
    position: center;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-login input::placeholder{
    color: white;
}

.submit {
    font-size: 10px;
    text-align: center;
}

.button {
    margin-top: 15px;
    background-color:rgb(248, 232, 7);
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
